@import "mobile"; //_mobile.scss

.container{
    max-width: 1200px;
    margin: 0 auto;
    @include rs-xs{
        max-width: 98%;
    }
    @include rs-sm{
        max-width: 98%;
    }
    @include rs-md{
        max-width: 1200px;
    }
    // @include rs-ls{
    //     max-width: 1200px;
    // }
}

.content{
    .container{
        .red{
            height: 100px; //bt k cho. test thoi
            background: rgba(red, 0.8);
            width: 33.3333%;
            @include rs-xs{
                width: 100%;
            }
            @include rs-md{
                background: green;
            }
            @include rs-lg{
                background: red;
                &:hover{
                    background: green;
                }   
            }
        }
        .blue{
            background: rgba(blue, 0.8);
            height: 300px;
            @include rs-xs{
                background: red;
                height: 100px;       
                &:hover{
                    background: green;
                }         
            }
        }
        .brown{
            display: flex;
            flex-wrap: wrap; //can deu tren content
            .b-item{
                height: 100px;
                width: 33.3333%;
                @include rs-xs{
                    width: 100%;
                }
                @include rs-sm{
                    width: 50%;
                }
                @include rs-md{
                    width: 33.3333%;
                }
            }
        }
    }
}



//------------------------cach viet cau css
// @media (max-width: 768px) { //co kich thuoc nho hon 768 thi dk dung cai nay. min: lon hon thi dk dung
//     .container{
//         max-width: 97%;
//     }
//     .content{
//         .container{
//             .brown{
//                 .b-item{
//                     width: 50%;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 400px) { //co kich thuoc nho hon 400 thi dk dung cai nay. min: lon hon thi dk dung
//     .container{
//         max-width: 98%;
//     }
//     .content{
//         .container{
//             .red{
//                 width: 100%;
//             }
//             .brown{
//                 .b-item{
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1200px) { //co kich thuoc nho hon 1200 thi dk dung cai nay. min: lon hon thi dk dung
//     .container{
//         max-width: 98%;
//     }
// }

// @media (min-width: 900px) and (max-width: 1500px) { //tu 900 den 1500px
//     .content{
//         .container{
//             .red{
//                 background: green;
//             }
//         }
//     }
// }

